/TesteConexao.class
/CriarBanco.class
/FabricaConexao.class
/CriarTabelaPessoa.class
/CriarTabelaPessoas.class
/NovaPessoa.class
/Pessoa.class
/ConsultarPessoas1.class
/ConsultarPessoas2.class
/AlterarNomePessoa.class
/ExcluirPessoa.class
/DAO.class
/PessoaDAO.class
/DAOTeste.class
